<!DOCTYPE html>
<html>

<head>
    <title>EPSymphony</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <h1>EPSymphony</h1>

    <p id="measureDisplay">Current Measure: 1</p>

    <button onclick="startPolling()">Start</button>

    <div id="score-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/opensheetmusicdisplay/build/opensheetmusicdisplay.min.js"></script>
    <script
        src="C:\Users\sverma28\OneDrive - Eastside Preparatory School\Documents\GitHub\EPSymphony\frontend\static\js\analysis.js"></script>

</body>

</html>